.container {
  position: relative;
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 72px;
}

.intro {
  font-size: 36px;
  max-width: 880px;
}
.intro strong:first-child {
  color: #0F0;
}
.intro strong:nth-child(0n+2) {
  color: #F0F;
}
.intro a {
  font-size: 20px;
  font-style: italic;
  color: #00F;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
}
.images img {
  max-height: 500px;
}

.refreshments {
  font-size: 42px;
  max-width: 880px;
}
.refreshments strong:first-child {
  color: #0F0;
}
.refreshments strong:nth-child(0n+2) {
  color: #F0F;
}

.dancing {
  font-size: 48px;
  max-width: 880px;
}
.dancing strong:first-child {
  color: #AAA;
}

.dancing strong:nth-child(0n+2) {
  color: #EF0;
}

.costumes {
  font-size: 44px;
  max-width: 880px;
}
.costumes strong:first-child {
  color: #00F;
}

.costumes strong:nth-child(0n+2) {
  color: #F00;
}

.hosts {
  font-size: 44px;
  max-width: 880px;
}
.hosts > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rsvpTitle {
  font-size: 60px;
  max-width: 880px;
}

.rsvp {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.rsvpForm {
  background-image: url('/images/tombstone-middle.png');
  background-size: 100% 1px;
  background-position: center;
  background-repeat: repeat-y;
}
.rsvpForm label {
  display: block;
  margin-bottom: 30px;
}
.rsvpForm button {
  font-size: 36px;
}
.tombstoneTop > span,
.tombstoneBottom > span {
  display: block !important;
}

.slider {
  display: flex;
  justify-content: center;
  transform-origin: center center;
  transform-style: preserve-3d;
}
.slider input {
  margin-right: 10px;
}
.numFriends {
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  transform-origin: center center;
  transform-style: preserve-3d;
  pointer-events: none;
}
.smallFriends {
  transform: scale(1);
}
.mediumFriends {
  transform: scale(1.2);
}
.bigFriends {
  transform: scale(1.5);
  animation: big-friends 0.3s linear infinite;
}
@keyframes big-friends {
  0%, 100% {
    transform: scale(1.5);
  }
  33% {
    transform: scale(1.35);
  }
  66% {
    transform: scale(1.85);
  }
}
.hugeFriends {
  transform: scale(2);
  animation: huge-friends 0.5s ease infinite;
}
@keyframes huge-friends {
  0%, 100% {
    transform: translateX(40%) rotate(30deg) scale(2);
  }
  50% {
    transform: translateX(40%) rotate(-30deg) scale(2);
  }
}
.gigaFriends {
  transform: scale(3);
  animation: giga-friends 0.8s linear infinite;
}
@keyframes giga-friends {
  0% {
    transform: translateX(50%) rotate(0deg) scale(3);
  }
  25% {
    text-shadow: 0 0 5px orange;
    transform: translateX(50%) rotate(90deg) scale(3);
  }
  50% {
    text-shadow: 0 0 5px forestgreen;
    transform: translateX(50%) rotate(180deg) scale(3);
  }
  75% {
    text-shadow: 0 0 5px cyan;
    transform: translateX(50%) rotate(270deg) scale(3);
  }
  100% {
    transform: translateX(50%) rotate(360deg) scale(3);
    text-shadow: 0 0 5px red;
  }
}

.doot {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  max-width: 15vw;
}
.doot.topLeft {
  top: 2vw;
  left: 2vw;
}
.doot.topRight {
  top: 2vw;
  right: 2vw;
}
.doot.bottomLeft {
  bottom: 2vw;
  left: 2vw;
}
.doot.bottomRight {
  bottom: 2vw;
  right: 2vw;
}
.doot img {
  width: 100%;
  height: auto;
}